{% extends './layout.html' %}

{% block title %}
    Connect
{% endblock %}

{% block main %}
    <description class="description">CONTACT US</description>
    <contacts class="contacts">
        <newsletter class="areas">
            SIGN UP FOR OUR NEWSLETTER
        </newsletter>
        <info class="areas">
            CONTACT INFORMATION
            <div class="infos">
                Email: connection.tx@gmail.com
                Phone: +1 (512) 820-8027
            </div>
        </info>
    </contacts>
{% endblock %}