{% extends './layout.html' %}

{% block title %}
    Mission
{% endblock %}

{% block main %}
    <description class="description">CONNECTION'S MISSION</description>
    <m class="people">
        <ppl class="mission">
            At connection we know the inadequacies in elderly care - we know 
            them because we’ve been there. Having grandparents in elderly care 
            we have seen first hand the miscommunications and struggles that 
            families face daily. 
        </ppl>
    </m>
{% endblock %}