{% extends './layout.html' %}

{% block title %}
    Team
{% endblock %}

{% block main %}
    <description class="description">MEET THE TEAM</description>
    <people class="people">
        <person class="person">
            <name class="role">CEO</name>
            <img class="photo" src="../../static/connection.jpg" alt="Hadley">
            <name class="name">Hadley McDonell</name>
            <div class="box">
                <a class="button" href="#popup1">MEET HADLEY</a>
            </div>
            <div id="popup1" class="overlay">
                <div class="popup">
                    <h2>Hadley McDonell</h2>
                    <a class="close" href="#">&times;</a>
                    <div class="content">
                        Meet Hadley McDonell, the dynamic force propelling 
                        Connection's success as our CEO. With a background 
                        in non-profit work, Hadley brings authenticity and 
                        relentless passion to her leadership. As President 
                        of Best Buddies, her commitment to creating an impact 
                        echoes in her role at Connection. In her personal 
                        life, Hadley's devotion shines – she's a proud parent 
                        to three dogs, including the spirited Earl, named 
                        after a UT football legend. Beyond her professional 
                        accomplishments, Hadley excels in competitive rowing 
                        and finds solace in exploring the natural beauty of 
                        the Texas Hill Country. Among her diverse pursuits, 
                        Connection always takes the lead, reflecting her 
                        unwavering dedication. Hadley's vibrant palette of 
                        interests extends to her love for art, but it's her 
                        personal connection that fuels her mission. Inspired 
                        by the challenges her own grandfathers faced in assisted 
                        living, Hadley is resolute in her quest to bring about 
                        positive change. This deeply personal motivation drives 
                        her leadership at Connection. Hadley McDonell embodies 
                        Connection's essence – driven by purpose, fueled by 
                        passion, and steadfast in her commitment to making a 
                        difference.
                    </div>
                </div>
            </div>
        </person>
        <person class="person">
            <name class="role">CFO</name>
            <img class="photo" src="../../static/connection.jpg" alt="Maya">
            <name class="name">Maya Morgan</name>
            <div class="box">
                <a class="button" href="#popup2">MEET MAYA</a>
            </div>
            <div id="popup2" class="overlay">
                <div class="popup">
                    <h2>Maya Morgan</h2>
                    <a class="close" href="#">&times;</a>
                    <div class="content">
                        Meet Maya Morgan, our brilliant CFO who balances 
                        numbers and aces tennis rallies with equal finesse. 
                        With a heart that's as kind as it is detail-oriented, 
                        Maya's passion for Connection is as personal as it 
                        is professional. Beyond her financial wizardry, she 
                        finds solace in bible studies and dives into books 
                        when off-duty. You'll often find her savoring the 
                        delights at Numero 28, a restaurant that holds a 
                        special place in her heart. At home, the energy 
                        amps up with her two playful dogs, Oakley and Goldie. 
                        Maya's pursuit of perfection extends to her search 
                        for the perfect matcha, reflecting her meticulous 
                        nature. With a personal tie to Connection stemming 
                        from her grandmother's struggles, Maya is dedicated 
                        to better communication and care. As a twin, she 
                        knows the value of unique connections. From boardroom 
                        strategy to tennis court prowess, Maya's presence 
                        elevates every facet of Connection.
                    </div>
                </div>
            </div>
        </person>
        <person class="person">
            <name class="role">COO</name>
            <img class="photo" src="../../static/nate.jpg" alt="Nate">
            <name class="name">Nate Hill</name>
            <div class="box">
                <a class="button" href="#popup3">MEET NATE</a>
            </div>
            <div id="popup3" class="overlay">
                <div class="popup">
                    <h2>Nate Hill</h2>
                    <a class="close" href="#">&times;</a>
                    <div class="content">
                        Meet Nate Hill, the rockstar COO who knows how to 
                        crunch numbers and pump iron with equal enthusiasm! 
                        When he's not busy masterminding operations, you can 
                        catch him lifting weights at the gym or jamming on 
                        the drums like a true rhythm maestro. But hey, the 
                        action doesn't stop there – this guy's all about 
                        hanging out with pals, especially when there's Home 
                        Slice pizza involved; it's basically his love language! 
                        And speaking of companions, his four-legged buddy 
                        Gunnar is up for any adventure, making them the ultimate 
                        dynamic duo. Nate's not just crunching data, though; 
                        he's spinning records too – yep, he's got a thing for 
                        that vintage vinyl vibe. And guess what? He's not 
                        just a suit-and-tie kind of guy; he's also part of 
                        the local film club, giving Hollywood a run for its 
                        money. But the cherry on top? Nate's biggest kick 
                        comes from the Connection team's shared passion. 
                        Those late-night brainstorming sessions? They're 
                        like strategy parties where work and fun blend into 
                        one. So, if you're looking for a COO who's all 
                        about smashing targets and rocking out, Nate Hill's 
                        your man – the one who proves that business and 
                        pleasure can totally vibe together!
                    </div>
                </div>
            </div>
        </person>
        <person class="person">
            <name class="role">CMO</name>
            <img class="photo" src="../../static/leo.jpg" alt="Leo">
            <name class="name">Leo Wulffraat</name>
            <div class="box">
                <a class="button" href="#popup4">MEET LEO</a>
            </div>
            <div id="popup4" class="overlay">
                <div class="popup">
                    <h2>Leo Wulffraat</h2>
                    <a class="close" href="#">&times;</a>
                    <div class="content">
                        Meet Leo Wulffraat, our dynamic Chief Marketing 
                        Officer who knows how to score big both in marketing 
                        strategies and on the football field. Hailing 
                        from Dallas, Leo's passion for Connection matches 
                        the energy of the Westlake community where it 
                        thrives. When he's not brainstorming brilliant 
                        marketing moves, you'll find him and his trusty 
                        Portuguese water dog, Porter, tearing it up at 
                        Zilker Park – a match made in touchdown heaven. 
                        Beyond the marketing game, Leo's a true football 
                        and track aficionado. He doesn't just play the 
                        field; he excels at it. Off the turf, he's all 
                        about fostering inclusivity as a driving force 
                        in the Best Buddies club. Leo's standout memory? 
                        Sprinting right from the football field to make 
                        a killer pitch at Westlake's pitch night, all 
                        while mastering the art of tying a tie on the go. 
                        What fuels Leo's fire for Connection? Personal 
                        experience. Witnessing his grandparents navigate 
                        challenges in assisted living ignited his 
                        commitment to revolutionize communication and 
                        organization within the system. With Leo leading 
                        the charge, Connection isn't just a company; 
                        it's a game-changer, much like Leo himself on 
                        and off the field.
                    </div>
                </div>
            </div>
        </person>
        <person class="person">
            <name class="role">CTO</name>
            <img class="photo" src="../../static/connection.jpg" alt="Finn">
            <name class="name">Finn Flaherty</name>
            <div class="box">
                <a class="button" href="#popup5">MEET FINN</a>
            </div>
            <div id="popup5" class="overlay">
                <div class="popup">
                    <h2>Finn Flaherty</h2>
                    <a class="close" href="#">&times;</a>
                    <div class="content">
                        Meet Finn Flaherty, the brilliant mind driving 
                        Connection's technological frontiers as our CTO. 
                        With a profound love for programming and designing, 
                        Finn crafts digital landscapes with the same 
                        enthusiasm that he brings to the outdoors – where 
                        camping and adventure beckon. And did I mention his 
                        musical prowess? Finn's not just about code; he's 
                        equally adept at serenading with a guitar in hand. 
                        He's all about riding in self-driving cars, a 
                        testament to his excitement for the future of 
                        technology. For Finn, Connection isn't just a 
                        company; it's a means to better lives using 
                        technology as a catalyst. He's passionate about 
                        creating positive change for all generations. 
                        Technology holds a special place in his heart, 
                        and he excels in software and coding, a true 
                        digital virtuoso. However, what truly resonates
                        with Finn is the connection he's fostered with 
                        the assisted living homes that Connection has 
                        partnered with. It's not just about technology; 
                        it's about building relationships and making 
                        lives better. Finn Flaherty embodies the heart 
                        and innovation of Connection – where technology 
                        and compassion intertwine to create a brighter 
                        future.
                    </div>
                </div>
            </div>
        </person>
    </people>
{% endblock %}